<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <style media="screen">

    </style>
  </head>
  <body >
    <div class="bg container">


    <div class=" login-box">
      <h2> GIG Portal</h2>
      <form class="" id='loginForm' action='{% url "mainLogin"%}' method="post">
        {% csrf_token %}
        <div class="user-box">
          <input type="text" name="userName" value="">
          <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" value="">
            <label>Password</label>
          </div>
          <div class="err-msg">
            {% if message%}
            <h4>{{message}}</h4>
            {% endif%}
          </div>




          <a  id='submit'>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Login
            </a>

        <!-- <input type="submit" name="" value="Submit"> -->
      </form>


    </div>
    <div class="logo-img">
      <img src="{% static 'static/images/logo.png'%}" alt="logo" width="50 %">
    </div>



    </div>
    <script type="text/javascript">
      var form= document.getElementById('loginForm')
      document.getElementById('submit').addEventListener('click',()=>{

        form.submit();
      })
    </script>
  </body>
</html>
