{% extends "sw/templates/account/base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
 {% block body_outer %}


  <div class="col-md-5"style="margin-left:13rem;margin-top:11rem;">
    <div class="login_head  rounded-top p-3" style="background-color:#05A081;width:90%;margin-left:16px;">
      <h3 class="text-white text-center m-0 ">تسجيل الدخول</h3>
    </div>
    <div class="login_content p-4">
      <form id="loginForm" class="my-4">
        <div class="form-group">
          <input type="text" class="form-control ar-rtl" id="username" name="username" placeholder="اسم المستخدم">
        </div>
        <div class="form-group">
          <input type="password" class="form-control ar-rtl" id="password" name="password" placeholder="كلمه السر">
        </div>

        <button onclick="login()" class="btn btn-primary btn-block mt-4" type="button">الدخول</button>
      </form>
    </div>

  </div>


  {% endblock %}
  {% block extra_script %}
  <script>


    function login() {
      const loginForm = new FormData(document.getElementById('loginForm'));

      const data = {
        username: loginForm.get('username'),
        password: loginForm.get('password')
      }

      $.ajax({
        url: "{% url 'account_ajax_login' %}",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        method: 'post',
        data,
        success: () => location.reload()
      })
  }
  </script>


  {% endblock extra_script %}
 {% block content %}

{% endblock %}
