{% load static from staticfiles %}
<footer class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-8 pt-5 text-white">
        <h4 class="mb-3">تواصل معنا</h4>

        <p class="mb-1 ar-rtl"> <i class="fas mx-2 fa-map-marker-alt"></i> 4 شارع نادى الصيد، الدقى، الجيزة</p>
        <p class="mb-1"> info@mld.gov.eg <i class="fas mx-2 fa-envelope"></i> </p>
        <p class="mb-1"> 02 3335 6708 - 02 3749 7656 <i class="fas mx-2 fa-phone"></i> </p>
      </div>


      <div class="col-4">
        <img src="{% static 'images/tanmia-trans.png' %}" alt="logo" style="width: 15rem;">
      </div>
    </div>


    <section class="social_links text-white text-center mt-5 pt-3">
      <a href="https://www.facebook.com/MOLD.eg/" target="_blank"><i class="fab fa-2x fa-facebook-square m-3 pointer"></i></a>
      <a href="https://twitter.com/MoLDEgypt" target="_blank"><i class="fab fa-2x fa-twitter-square m-3 pointer"></i></a>
      <a href="https://www.linkedin.com/company/ministryoflocaldevelopment" target="_blank"><i class="fab fa-2x fa-linkedin m-3 pointer"></i></a>
    </section>
  </div>
</footer>
