{% extends '../main/countries.html'%}
{% block title%} Offers {% endblock%}
{% block pageTitle%}Offers {% endblock%}
{% block content%}
<div class="row">
  {% for offer in Offer_list%}
    <div class="card mx-4" style="width: 18rem; background:#ccc;margin:2px" >
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body ">
        <h5 class="card-title">{{ offer.companyName}}</h5>
        <p class="card-text">Check the projects here</p>
        <a href="{% url 'country_projects' country.id%}" class="btn btn-primary " style='background-color:#4F618C'>Check Projects</a>

      </div>
    </div>
  {% endfor %}

</div>
{% endblock%}
